
<table class="table table-bordered table-responsive-lg text-center display-6">
    <thead class="thead">
    <tr>
        <th rowspan="2">SkillName </th>
        <th rowspan="2">Skill</th>
        <th colspan="2">Experience </th>
        <th rowspan="2">Level</th>
        <th rowspan="2">Rating</th>
        <th rowspan="2">Certifications</th>
    </tr>
    <tr>
        <th>On-job</th>
        <th>Self</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let skill of skills">
            <td>{{skill.skillName}}</td>
            <td>
                <table class="table table-bordered">
                    <tr *ngFor="let temp of skill.skills">
                        <td>{{ temp?.skillName }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-bordered">
                    <tr *ngFor="let temp of skill?.skills">
                        <td> <input type="text" [(ngModel)]="temp?.userSkill.onjob" [value]="temp?.userSkill.onjob">
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-bordered">
                    <tr *ngFor="let temp of skill?.skills">
                        <td><input type="text" [(ngModel)]="temp?.userSkill.self" [value]="temp?.userSkill.self"></td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-bordered">
                    <tr *ngFor="let temp of skill?.skills">
                        <td> <input type="text" [(ngModel)]="temp?.userSkill.level" [value]="temp?.userSkill.level">
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-bordered">
                    <tr *ngFor="let temp of skill?.skills">
                        <td> <input type="text" [(ngModel)]="temp?.userSkill.rating" [value]="temp?.userSkill.rating">
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table table-bordered">
                    <tr *ngFor="let temp of skill?.skills">
                        <td> <input type="text" [(ngModel)]="temp?.userSkill.certifications"
                                [value]="temp?.userSkill.certifications">
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </tbody>
</table>
<button type="submit" (click)="OnSubmit()">Submit</button>
