<p>skill works!</p>
<div class="container">
    <table class="table table-borderless table-responsive-lg text-center">
        <thead class="thead-dark">
            <tr>
                <th>SkillName </th>
                <th>Skill</th>
                <th>Experience </th>
                <th>Level</th>
                <th>Rating</th>
                <th>Certifications</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skills">
                <td>{{skill.skillName}}</td>
                <td>
                    <table class="table table-bordered">
                        <tr *ngFor="let temp of skill.skills">
                            <td>{{ temp?.skillName }}</td>
                            <!-- <td *ngFor="let temp of skill.skills">{{ temp?.skillName }}</td> -->
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-bordered">
                        <tr *ngFor="let temp of skill?.skills">
                            <td> On-Job: <input type="text" [(ngModel)]="temp?.userSkill.onjob"
                                    [value]="temp?.userSkill.onjob"></td>
                            <td>Self: <input type="text" [(ngModel)]="temp?.userSkill.self"
                                    [value]="temp?.userSkill.self"></td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-borderless">
                        <tr *ngFor="let temp of skill?.skills">
                            <td> <input type="text" [(ngModel)]="temp?.userSkill.level" [value]="temp?.userSkill.level">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-borderless">
                        <tr *ngFor="let temp of skill?.skills">
                            <td> <input type="text" [(ngModel)]="temp?.userSkill.rating"
                                    [value]="temp?.userSkill.rating">
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="table table-borderless">
                        <tr *ngFor="let temp of skill?.skills">
                            <td> <input type="text" [(ngModel)]="temp?.userSkill.certifications"
                                    [value]="temp?.userSkill.certifications">
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

        </tbody>


    </table>

</div>
<!-- 

<div class="container">
    <table class="table table-bordered">



    </table> -->
<!-- <div class="row" *ngFor="let skill of skills">
            {{ skill?.skillName }}
           <div class="row" *ngFor="let temp of skill.skills">
                {{temp?.skillName}}
           </div>
        </div> -->

<!-- <table class="table table-bordered">
        <tr *ngFor="let skill of skills" >
            <td >
                {{skill.skillName}}
            </td>
           
        </tr>
        <tr  *ngFor="let temp of skills.skills" >
            <td >
                {{temp.skillName}}
            </td>
        </tr>

    </table> -->
<!-- </div> -->
