<p>skill works!</p>
<div class="container">
    <table class="table table-borderless table-responsive-lg text-center">
        <thead class="thead-dark">
            <tr>
                <th>SkillName </th>
                <th>Skill</th>
                <th>Experience</th>
                <th>Level</th>
                <th>Rating</th>
                <th>Certifications</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let skill of skills">
                <td>{{skill.skillName}}</td>
                <table class="table table-borderless">
                    <tr *ngFor="let temp of skill.skills" >
                        <td>{{ temp?.skillName }}</td>
                        <!-- <td *ngFor="let temp of skill.skills">{{ temp?.skillName }}</td> -->
                    </tr>
                </table>
            </tr>

        </tbody>


    </table>

</div>
